#filters-screen {
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1001;
  margin: 0;
}
#filters-form {
  width: 40vw;
  border: 2px solid black;
  background: white;
  overflow-y: auto;
  font-size: 0.7em;
}
#filters-overlay {
  width: 60vw;
  background-color: grey;
  opacity: 0.5 !important;
}
.optionsOuter {
  margin: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.optionsHeader {
  width: 100%;
}
.optionsCheckbox {
  width: 30%;
  padding: 2% 0px;
}
