.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 80px;
}
#bannerImg {
  width: 100%;
  height: 700px;
}
#bannerImg img {
  width: 100%;
}
#bannerShop {
  position: relative;
}
