*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#navBar {
  padding: 8px;
  text-align: center;
  width: 100vw;
  position: sticky;
  top: 0px;
}

#navBar a {
  color: black;
  margin: 5px;
}

#navBar a:hover {
  color: maroon;
  margin: 5px;
}
