@navHeight: 60px;
@pageHeight: 100%;

#productsTitle {
    margin: 12px;
}

.filtersPrompt {
    display: flex;
}
.filtersPrompt > * {
    margin: 8px;
}

#selected-filters {
    margin: 12px;
}

#filters-screen {
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1001;
    margin: 0;
}

#filters-form {
    width: 40vw;
    border: 2px solid black;
    background: white;
    overflow-y: auto;
    font-size: 0.7em;
}

#filters-overlay {
    width: 60vw;
    background-color: grey;
    opacity: 0.5!important;
}

.optionsOuter {
    margin: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.optionsHeader {
    padding: 5px;
    width: 100%;
}

.optionsCheckbox {
    width: 30%;
    padding: 2% 0px;
}
.optionsCheckbox label {
    margin-left: 3px;
}

#filter-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 65px;
}

#filter-buttons > * {
    padding: 10px;
    width: 80px;
    color: #3D7DCA;
    background-color: #FFCB05;
    border: 4px solid #003A70;
    transition: 0.2s;
}

#filter-buttons > *:hover {
    border: 4px solid #3D7DCA;
    color: #FFCB05;
    background-color: #003A70;
}