// began styling for homepage
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 80px;
}

// CSS FOR HOMEPAGE BANNER IMAGE
#bannerImg {
  width: 100%;
  height: 60%;
  margin: 0px;
  position: relative;
  z-index: 0;
}

#bannerImg img {
  width: 100%;
}

#bannerShop {
  font-size: 1.4em;
  padding: 13px;
  position: absolute;
  bottom: 15px;
  left: 15px; 
  z-index: 1;
}

// CSS FOR INFO BELOW BANNER IMAGE
#bannerInfo {
  background-color: rgb(182, 182, 182);
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#bannerInfo img {
  height: 80px;
}

// @media screen and (min-width: 1115px) {
//   #bannerShop {
//     bottom: ;
//   }
// }