// began styling for homepage
#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// inside content there are only children of 2 divs
#content > * {
  width: 85vw;
  margin: 20px;
}
