#homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#homepage * {
  margin: 0px;
}

@buttonColor0: #003a70;
@buttonColor1: #3d7dca;
@buttonColor2: #ffcb05;
@buttonColor3: #c85048;

// CSS FOR HOMEPAGE BANNER IMAGE
#bannerImg {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}

#bannerImg img {
  width: 100%;
}

#bannerShop {
  font-weight: 500;
  font-size: 1.4em;
  padding: 13px;
  position: absolute;
  bottom: 50px;
  left: 45px; 
  z-index: 1;
}

button#bannerShop {
  box-shadow: 2px 2px 2px 2px inset @buttonColor0;
  border: 3px solid @buttonColor0;
  border-radius: 4px;
  background-color: @buttonColor3;
  color: @buttonColor2;
  transition: 0.1s;
}

button#bannerShop:hover {
  background-color: @buttonColor1;
  box-shadow: 2px 2px 2px 2px @buttonColor0;
}

// CSS FOR INFO BELOW BANNER IMAGE
#bannerInfo {
  background-color: rgb(182, 182, 182);
  width: 100%;
  height: 175px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#bannerInfo > * {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bannerInfo img {
  height: 80px;
}

// CSS FOR CARDS LOADED ON HOME
#homeCards {
  width: 100%;
  padding: 20px 0px;
}

#homeCardsTitle {
  padding: 12px;
  font-weight: bolder;
  font-style: oblique;
  text-decoration: underline;
}

// @media screen and (min-width: 1115px) {
//   #bannerShop {
//     bottom: ;
//   }
// }