*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

// nav bar styling
@import "./nav.less";

// homepage styling
@import "./home.less";

@import "./cardSmallView.less";

@import "./filterOptions.less";

@import "./pagination.less";

.contentContainer {
  width: 85vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}